name: test
on:
  push:
    branches:
      - "**"
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    steps:
      - name: setup env
        run: |
          echo "::set-env name=GOPATH::${{ github.workspace }}"
        shell: bash
      - name: setup go
        uses: actions/setup-go@v2.0.3
        with:
          go-version: 1.x
      - name: checkout
        uses: actions/checkout@v2
        with:
          path: src/github.com/${{ github.repository }}
      - name: deps
        run: |
          cd $GOPATH/src/github.com/${{ github.repository }}
          make install-tools
        shell: bash
      - name: lint
        run: |
          cd $GOPATH/src/github.com/${{ github.repository }}
          golint -set_exit_status ./...
        shell: bash
      - name: test
        run: |
          cd $GOPATH/src/github.com/${{ github.repository }}
          go test -coverprofile coverage.out -covermode atomic ./...
        shell: bash
